html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

textarea {
  display: inline-block;
  margin: 0;
  padding: .2em;
  width: auto;
  min-width: 10em;
  /* The max-width "100%" value fixes a weird issue where width is too wide by default and extends beyond 100% of the parent in some agents. */
  max-width: 100%;
  /* Height "auto" will allow the text area to expand vertically in size with a horizontal scrollbar if pre-existing content is added to the box before rendering. Remove this if you want a pre-set height. Use "em" to match the font size set in the website. */
  height: auto;
  /* Use "em" to define the height based on the text size set in your website and the text rows in the box, not a static pixel value. */
  min-height: 10em;
  /* Do not use "border" in textareas unless you want to remove the 3D box most browsers assign and flatten the box design. */
  /*border: 1px solid black;*/
  cursor: text;
  /* Some textareas have a light gray background by default anyway. */
  background-color: lightgoldenrodyellow;
  /* Overflow "auto" allows the box to start with no scrollbars but add them as content fills the box. */
  overflow: auto;
  /* Resize creates a tab in the lower right corner of textarea for most modern browsers and allows users to resize the box manually. Note: Resize isn't supported by most older agents and IE. */
  resize: both;
}

#noshow{visibility:hidden;}
.hide{display:none;}

.k-hidden{visibility:hidden;display:none;}
.k-show{visibility:visible;display:block;}
#uuidAlertBtn{float:right;}
.remove_button_css { 
  box-sizing: none; 
  background-color: transparent; 
  outline: none !important;
  padding: 0px;
  border: 0px;
  vertical-align: baseline;
}

.boundBox{
  
  border: 2px solid #258cfb;
  border-radius: 8px;
  padding: 2px;
  margin-bottom: 5px;
}

#qrForm{display:none;
  background:white;
  position:absolute;
  top: 200px;
  left: 50%;
  z-index: 99;
  width:190px;height:190px;
  border:#0000ff;
  border-style:solid;}
