@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div style="padding:8px"><label for="uuid">UUID:</label>
        <input type="text" id="uuid" size="50"/>
        <button onclick="genUuid()">Gen/Set UUID</button>
    </div>
