@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Journal App - Based On Sqlstone</h1>
    <p>Learn more, read the article at CodeProject.com</p>    
    <div class="boundBox">
        <p ><H3>New Feature!</h3>Download <button type="button" onclick="downloadSqliteDb()" role="link" class="btn-link remove_button_css"> your data (Sqlite database)</button></p>
    </div>
</div>

 <div id="qrForm">
    <img id="qrCode" width="180" src="">
</div>
<div class="input-group mb-3">
  <Button type="button" class="btn btn-outline-secondary" onclick="deleteUuid()" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
        </svg>
    </Button>
    <Button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#destroyUserModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
         <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
        </svg>
    </Button>
  <input  id="uuid" type="text" class="form-control" oninput="uuidChanged()" placeholder="UUID" aria-label="UUID" aria-describedby="button-addon2">
     <button id="genQRButton" class="btn btn-outline-secondary" type="button" data-toggle="tooltip" data-placement="top" title="QR Code">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upc-scan" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"></path>
            <path d="M3 4.5a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7zm2 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-7zm3 0a.5.5 0 0 1 1 0v7a.5.5 0 0 1-1 0v-7z"></path>
            </svg>
        </button>
    <button class="btn-primary" onclick="genUuid()">Gen/Set UUID</button>  
</div>

<div class="alert alert-success fade show hide alert-dismissable"  role="alert">
       <span id="alertMessage"></span>
      <button id="uuidAlertBtn" type="button" class="btn-close" data-dismiss="alert" aria-label="Close"
      onclick="javascript:document.querySelector('.alert').style.display='none'">
    </button>
</div>

<button class="btn-primary" onclick="registerUser()">Register UUID</button>
<hr class="border border-primary border-3">
<div id="journalEntries">
    <h2>Journal Entries</h2>
    <button class="btn-primary" onclick="addEntry()">Add New Entry</button>
        <div id="history-spinner" class="text-center text-success">
          <div class="spinner-border" role="status">
              <span class="visually-hidden">Loading...</span>
          </div>
        </div>  
        <table id="journalEntryTable" class="table  table-striped">
            <thead class="table-success">
                <tr>
                    <th>Title</th>
                    <th>Note</th>   
                    <th>Action</th>
                    <th>Created</th>
                    <th>Updated</th>
                </tr>
            </thead>
            <tbody id="journalentries">
            </tbody>
          </table>
</div>

<div class="modal fade hide" id="destroyUserModal" tabindex="-1" aria-labelledby="destroyUserAccount"
     style="display: none;" aria-modal="true" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="destroyUserAccount">Destroy User Account</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>WARNING! Click the [Destroy User Account] to permanently delete the account & all associated data.</p>
        <p>If you do not want to destroy the account click the [Cancel] button or anywhere else on the page.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="destroyAccountConfirmButton" onclick="destroyAccount()" type="button" class="btn btn-danger">Destroy Account</button>
      </div>
    </div>
  </div>
</div>
